*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0%;
    margin: 0%;
    border: 0%;
    width: 100%; 
}

.details{ 
    margin-top: 70px;
    float: left;
    width: 23%;
    margin-left: 50px;

}

P{ 
    font-size: larger;
}

.reviewcontainer{
    margin-top: 50px;
    margin-right: 200px;

 float: right;
    width: 33%;
}