<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <div class="header">
  <div class="icon">
    <img src="http://localhost/icon.png" class="iconimage">
    <span class="text">Flat Theme</span>
    <div class="navigation-icons">
        <ul id="nav">
        <li><a href="#">Home</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">porfolio</a></li>
        <li><a href="#">Pages <span class="vstyle"><img src="http://localhost/pngwing.com (1).png" class="imageresize"></span></a>
        <ul class="sublist">
            <li><a href="#">link 1</a></li>
            <li><a href="#">link 2</a></li>
            <li><a href="#">link 3</a></li>
        </ul>
        </li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Contact</a></li>
        </ul>
    </div>
</div>
</div>
<app-slider></app-slider>
<app-socialmedia></app-socialmedia>
<app-socialmedia></app-socialmedia>
<app-socialmedia></app-socialmedia>
</body>
</html>